[submodule "ccs_config"]
        path = ccs_config
        url = git@github.com:pittwolfe/ccs_config_cesm.git
        branch = pw/ccs_config_cesm1.0.65
        update = merge
        fxDONOTUSEurl = https://github.com/ESMCI/ccs_config_cesm.git
        fxtag = ccs_config_cesm1.0.65_002
        fxrequired = ToplevelRequired

[submodule "cime"]
        path = cime
        url = https://github.com/ESMCI/cime
        fxDONOTUSEurl = https://github.com/ESMCI/cime
    	fxtag = cime6.1.144
        fxrequired = ToplevelRequired

[submodule "fms"]
        path = libraries/FMS
        url = https://github.com/ESCOMP/FMS_interface
        fxDONOTUSEurl = https://github.com/ESCOMP/FMS_interface
        fxrequired = ToplevelRequired
        fxtag = fi_250428

[submodule "share"]
        path = share
        url = https://github.com/ESCOMP/CESM_share
        fxDONOTUSEurl = https://github.com/ESCOMP/CESM_share
        fxtag = share1.1.16
        fxrequired = ToplevelRequired

[submodule "cam"]
        path = components/cam
        url = git@github.com:pittwolfe/CAM
        fxDONOTUSEurl = https://www.github.com/ESCOMP/CAM
        fxtag = pw/cam6_4_133_260319
        fxrequired = ToplevelRequired

[submodule "clm"]
        path = components/clm
        url = git@github.com:pittwolfe/CTSM 
        fxDONOTUSEurl = https://github.com/ESCOMP/CTSM
        fxrequired = ToplevelRequired
        fxtag = pw/ctsm5.2.029_260324

[submodule "cice"]
        path = components/cice
        url = https://github.com/ESCOMP/CESM_CICE
        fxDONOTUSEurl = https://github.com/ESCOMP/CESM_CICE
        fxrequired = ToplevelOptional
        fxtag = cesm3_cice6_6_1_6

[submodule "cice5"]
	path = components/cice5
	url = git@github.com:pittwolfe/CESM_CICE5 
        fxDONOTUSEurl = https://github.com/ESCOMP/CESM_CICE5 
        fxrequired = ToplevelRequired
        fxtag = pw/cice5_20220204_260319 

[submodule "mom"]
        path = components/mom
        url = git@github.com:pittwolfe/MOM_interface.git 
        fxDONOTUSEurl = https://github.com/ESCOMP/MOM_interface
        fxrequired = ToplevelRequired
        fxtag = mi_251121_001

[submodule "cdeps"]
        path = components/cdeps
        url = https://github.com/ESCOMP/CDEPS
        fxDONOTUSEurl = https://github.com/ESCOMP/CDEPS
        fxrequired = ToplevelRequired
        fxtag = cdeps1.0.84

[submodule "cmeps"]
        path = components/cmeps
        url = https://github.com/ESCOMP/CMEPS.git
        fxDONOTUSEurl = https://github.com/ESCOMP/CMEPS.git
        fxrequired = ToplevelRequired
	fxtag = cmeps1.1.24

[submodule "rtm"]
        path = components/rtm
        url = https://github.com/ESCOMP/RTM
        fxDONOTUSEurl = https://github.com/ESCOMP/RTM
        fxrequired = ToplevelOptional 
        fxtag = rtm1_0_89

[submodule "ww3"]
        path = components/ww3
        url = https://github.com/ESCOMP/WW3_interface
        fxDONOTUSEurl = https://github.com/ESCOMP/WW3_interface
        fxtag = main_0.0.18
        fxrequired = ToplevelOptional 

[submodule "mizuroute"]
        path = components/mizuroute
        url = https://github.com/ESCOMP/mizuRoute
        fxDONOTUSEurl = https://github.com/ESCOMP/mizuRoute
        fxrequired = ToplevelOptional
        fxtag = v3.0.1

[submodule "mosart"]
        path = components/mosart
        url = https://github.com/ESCOMP/MOSART
        fxDONOTUSEurl = https://github.com/ESCOMP/MOSART
        fxrequired = ToplevelOptional 
        fxtag = mosart1.1.12

[submodule "parallelio"]
        path = libraries/parallelio
        url = https://github.com/NCAR/ParallelIO
        fxDONOTUSEurl = https://github.com/NCAR/ParallelIO
        fxrequired = ToplevelRequired
        fxtag = pio2_6_6

[submodule "mpi-serial"]
        path = libraries/mpi-serial
        url = https://github.com/ESMCI/mpi-serial
        fxDONOTUSEurl = https://github.com/ESMCI/mpi-serial
        fxtag = MPIserial_2.5.4
        fxrequired = ToplevelRequired

[submodule "pysect"]
        path = tools/statistical_ensemble_test/pyCECT
        url = https://github.com/NCAR/PyCECT
        fxDONOTUSEurl = https://github.com/NCAR/PyCECT
        fxrequired = ToplevelRequired
        fxtag = 3.2.2

[submodule "tools/CUPiD"]
        path = tools/CUPiD
        url = https://github.com/NCAR/CUPiD.git
        fxDONOTUSEurl = https://github.com/NCAR/CUPiD.git
        fxrequired = ToplevelRequired
        fxtag = v0.4.0

[submodule "FTorch"]
	path = libraries/FTorch
	url = https://github.com/ESCOMP/FTorch_interface
  fxtag = v0.0.5
  fxrequired = ToplevelOptional
  fxDONOTUSEurl = https://github.com/ESCOMP/FTorch_interface
